.my-content{
    border: 1px solid #eee!important;
    border-radius: 10px!important;
    padding-top: 20px!important;
    padding-bottom: 20px!important;
    z-index: 5;
}
.no-padding{
    padding: 0;
}

.my-menu{
    padding-top: 30px!important;
    padding-bottom: 30px!important;
    position: relative;
    left: 1px;
    z-index: 10;
}

.space-bottom{
    margin-bottom: 10px;
}

.my-menu .nav-link{
    border-top-right-radius: none!important;
    border-bottom-right-radius: none!important;
    color: #555!important;
    background: #eee!important;
    border: 1px solid #eee;
}

.my-menu .nav-link:hover{
    background: #fff!important;
    font-weight: bold!important;
    border-right: none;
}

.my-menu .nav-link.active{
    font-weight: bold!important;
    background: #fff!important;
    border: 1px solid #eee;
    border-right: none;
}